/* Estilo generales */
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}
/* HEADER */
/* Fondo del encabezado */
header{
    background: linear-gradient(to bottom right, rgba(58, 119, 239, .62), rgba(58, 15, 181, .3)), url("header_img/fondo.jpg");
    background-size: cover;
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* Menú de navegacion */
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav{
    align-self: flex-end;
    width: 301px;
    margin-top: 30px;
    margin-right: 100px;
}
.nav-list a:link, .nav-list a:visited, .nav-list a:active {
    text-decoration:none;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}
.nav-list a:hover{
    text-decoration: underline;
    font-weight: 900;
}
/* Cuadro central del encabezado */
.inf-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 342px;
    height: 132px;
    outline: solid 2px #fff;
    border-radius: 5px;
    font-weight: 300;
    font-size: 50px;
    color: #ffffff;
}
.encabezado-nombre{
    font-size: 50px;
}
.profesion{
    font-size: 25px;
}
/* Fotografía central del encabezado */
.foto-personal{
    height: 150px;
    width: 150px;
    border: 7px solid rgba(255,255,255,.2);
    border-radius: 50%;
    transform: translateY(75px);
}
.foto-persona{
    border-radius: 50%;
    width: 150px;
}
/* Main (contenido principal) */
/* Section acerca de */
.acerca-de{
    margin-top: 105px;
    text-align: center;
}
.acerca-de .titulo-description{
    font-size: 34px;
    font-weight: 300;
    color: #DD820D;
}
.acerca-de .description{
    font-weight: 700;
    color: #5A5A5A;
    margin-top: 30px;
    display: inline-block;
    width: 870px;
}
.acerca-de .description span{
    color: #3895EA;
}
.acerca-de .description a{
    font-weight: 700;
    display: inline;
    color: #3895EA;
    text-decoration: none;
}
.acerca-de .description a:hover{
    color: #0162b7;
    text-decoration: underline;
}
/* Section Trabajos */
.contenedor-trabajos{
    margin-top: 198px;
    display: inline-block;
    height: 850px;
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
}
.contenedor-trabajos .titulo{
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    color: #323068;
    font-size: 34px;
    font-weight: 300;
}
.galeria-trabajos{
    margin-top: 40px;
    margin: auto;
    width: 1068px;
    height: 662px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.trabajo{
    border-radius: 5%;
    background-color: #D2D2D2;
    height: 316px;
    width: 255px;
}
.trabajo .imagen{
    background-size: cover;
    border-radius: 1%;
    margin-top: 10px;
    margin-left: 10px;
    width: 235px;
    height: 235px;
}
.trabajo img{
    width: 235px;
    height: 235px;
}
.trabajo h4{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3895EA;
    font-size: 16px;
    font-weight: 800;
}
.trabajo p{
    color: #5A5A5A;
    font-size: 14px;
}
.trabajo-1 {
    background-image: url("trabajos_img/trabajo_1.png");
    background-position: center;
}
.trabajo-2 {
    background-image: url("trabajos_img/trabajo_2.png");
}
.trabajo-3 {
    background-image: url("trabajos_img/trabajo_3.png");
    background-position:center
}
.trabajo-4 {
    background-image: url("trabajos_img/trabajo_4.png");
}
.trabajo-5 {
    background-image: url("trabajos_img/trabajo_5.png");
    background-position:center
}
.trabajo-6 {
    background-image: url("trabajos_img/trabajo_6.png");
}
.trabajo-7 {
    background-image: url("trabajos_img/trabajo_7.png");
    background-position:center
}
.trabajo-8 {
    background-image: url("trabajos_img/trabajo_8.png");
    background-position:center
}
/* Footer */
/* Section Contacto */
.contacto{
    text-align: center;
    width: 660px;
    height: 358.2px;
    margin: auto;
}
.contacto h5{
    font-size: 34px;
    font-weight: 300;
    color: #3895EA;
    margin-top: 40px;
    margin-bottom: 40px;
}
.contacto form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Normal Inputs*/
.contacto form input[type="text"], input[type="email"]{
    color: #505050;
    font-size: 20px;
    font-weight: 400;
    background: none;
    outline: none;
    border: solid 2px #CECECE;
    border-radius: 2%;
    padding-left: 12px;
    width: 308px;
    max-width: 308px;
    height: 50px;
}
/* Focus Inputs*/
.contacto form input[type="text"]:focus, input[type="email"]:focus{
    background: none;
    outline: none;
    border: solid 4px #CECECE;
    border-radius: 2%;
    width: 320px;
    height: 50px;
}
.contacto form input[type="text"]::placeholder, input[type="email"]::placeholder{
    padding-left: 12px;
    font-size: 18px;
    font-weight: 300;
    color: #A4A4A4;
}
/* Normal Textaria*/
.contacto form textarea{
    color: #505050;
    font-size: 20px;
    font-weight: 400;
    padding: 12px;
    resize: none;
    box-shadow: none;
    background: none;
    overflow: auto;
    outline:0px none transparent;
    border: solid 2px #CECECE;
    border-radius: 2%;
    width: 660px;
    max-width: 660px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Focus Textaria*/
.contacto form textarea:focus, textarea:active, textarea:focus-visible{
    box-shadow: none;
    background: none;
    overflow: auto;
    outline:0px none transparent;
    border: solid 4px #CECECE;
    border-radius: 2%;
    width: 660px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contacto form textarea::placeholder{
    background: none;
    outline: none;
    padding: 12px 12px;
    font-size: 20px;
    font-weight: 300;
    color: #A4A4A4;
}
/* Normal boton */
.contacto form .boton{
    border: none;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    background-color: #3895EA;
    color: #FFFFFF;
    margin: auto;
    width: 150px;
    height: 50px;
}
/* Focus boton */
.contacto form .boton:focus{
    border: solid 2px #0541B8;
    border-radius: 2%;
    outline: none;
}
/* Section Redes Sociales */
.redes-sociales{
    text-align: center;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    height: 273px;
    color: #FFFFFF;
    background-color: #1E2B38;
}
.redes-sociales .margin{
    display: block;
    margin-top: 106px;
}
.iconos{
    display: flex;
    width: 580px;
    margin: auto;
    justify-content: space-between;
}
.iconos .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    border-radius: 5%;
}
.iconos img{
    filter: invert();
    height: 50px;
}
.tw{
    background: #55ACEE;
}
.fb{
    background: #3B5998;
}
.twtch{
    background: #9146ff;
}
.ig{
    background: #C13584;
}
.gh{
    background: #666666;
}
.redes-sociales p {
    margin-top: 50px;
}
@media (max-width: 1089px) {
    body{
      display: none;
    }
}